<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <link href="${url_for('static', filename='css/normalize.css')}" media="all" rel="stylesheet" type="text/css" />
    <link href="${url_for('static', filename='css/base.css')}" rel="stylesheet" type="text/css" />

    <script src="${url_for('static', filename='js/jquery.min.js')}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%block name='script'></%block>

</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <%
                    paths = [
                        ('presence_weekday', 'Presence by weekday'),
                        ('mean_time_weekday', 'Presence mean time'),
                        ('presence_start_end', 'Presence start-end'),
                        ('presence_days', 'Days of presence'),
                    ]
                %>
                % for path, header in paths:
                    % if request.path == '/' + path:
                        <li id="selected">
                    % else:
                        <li>
                    % endif
                        <a href="${url_for('template_router', path=path)}">${header}</a>
                    </li>
                % endfor

            </ul>
        </div>
        <div id="content">
            <h2><%block name='subtitle'/></h2>
            <p>
                <img src="" id="user_img" style="display: block">
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="${url_for('static', filename='img/loading.gif')}" />
                </div>
                <div id="no_data" style="display: none">
                    <p>NO DATA</p>
                </div>
            </p>
        </div>

    </div>

</body>
</html>
